apiVersion: v1
kind: Namespace
metadata:
  labels:
    name: zero-trust-workload-identity-manager
    app.kubernetes.io/name: zero-trust-workload-identity-manager
    app.kubernetes.io/created-by: zero-trust-workload-identity-manager
    app.kubernetes.io/part-of: zero-trust-workload-identity-manager
    app.kubernetes.io/managed-by: kustomize
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    name: zero-trust-workload-identity-manager
    app.kubernetes.io/name: deployment
    app.kubernetes.io/instance: controller-manager
    app.kubernetes.io/component: manager
    app.kubernetes.io/created-by: zero-trust-workload-identity-manager
    app.kubernetes.io/part-of: zero-trust-workload-identity-manager
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    matchLabels:
      name: zero-trust-workload-identity-manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: zero-trust-workload-identity-manager
      labels:
        name: zero-trust-workload-identity-manager
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                - amd64
                - arm64
                - ppc64le
                - s390x
              - key: kubernetes.io/os
                operator: In
                values:
                - linux
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - command:
        - /usr/bin/zero-trust-workload-identity-manager
        args:
          - --health-probe-bind-address=:8081
          - --v=$(OPERATOR_LOG_LEVEL)
          - --metrics-bind-address=$(METRICS_BIND_ADDRESS)
          - --metrics-secure=$(METRICS_SECURE)
        ports:
          - containerPort: 8443
            name: https
            protocol: TCP
          - containerPort: 8080
            name: http
            protocol: TCP
        env:
        - name: OPERATOR_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.annotations['olm.operatorNamespace']
        - name: OPERATOR_NAME
          value: zero-trust-workload-identity-manager
        - name: OPERATOR_VERSION
          value: 1.0.0
        - name: RELATED_IMAGE_SPIRE_SERVER
          value: ghcr.io/spiffe/spire-server:1.13.3
        - name: RELATED_IMAGE_SPIRE_AGENT
          value: ghcr.io/spiffe/spire-agent:1.13.3
        - name: RELATED_IMAGE_SPIFFE_CSI_DRIVER
          value: ghcr.io/spiffe/spiffe-csi-driver:0.2.8
        - name: RELATED_IMAGE_SPIRE_OIDC_DISCOVERY_PROVIDER
          value: ghcr.io/spiffe/oidc-discovery-provider:1.13.3
        - name: RELATED_IMAGE_SPIRE_CONTROLLER_MANAGER
          value: ghcr.io/spiffe/spire-controller-manager:0.6.3
        - name: RELATED_IMAGE_NODE_DRIVER_REGISTRAR
          value: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.9.4
        - name: RELATED_IMAGE_SPIFFE_CSI_INIT_CONTAINER
          value: registry.access.redhat.com/ubi9:latest
        - name: OPERATOR_LOG_LEVEL
          value: "2"
        - name: METRICS_BIND_ADDRESS
          value: ":8443"
        - name: METRICS_SECURE
          value: "true"
        image: controller:latest
        name: manager
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
