apiVersion: operator.openshift.io/v1alpha1
kind: SpireOIDCDiscoveryProvider
metadata:
  labels:
    app.kubernetes.io/name: zero-trust-workload-identity-manager
    app.kubernetes.io/created-by: zero-trust-workload-identity-manager
    app.kubernetes.io/part-of: zero-trust-workload-identity-manager
    app.kubernetes.io/managed-by: zero-trust-workload-identity-manager
  name: cluster
spec:
  logLevel: info
  logFormat: text
  jwtIssuer: "https://oidc-discovery.example.com"
  agentSocketName: "spire-agent.sock"
  replicaCount: 1
  managedRoute: true


